body{
    padding: 5px;
    min-width: 400px;
}
p{
    color: brown;
}
#in-txt{
    width: 100%;
    padding-top: 10px;
    padding-left: 4px;
    padding-bottom: 10px;
    font-size: 15px;
    box-sizing: border-box;
    border: 1px solid #a8a7a7;
    background-color: #e2f1ea8a;
}
button{
    padding: 7px;
    margin-top: 4px;
    margin-right: 4px;
    background-color: #1EAE98;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: white;
    border: 1px solid #476072;
}
#delete-btn{
    background-color: white;
    color: #1EAE98 ;
}
#delete-btn:hover{
    transform: translateY(2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);

    background-color: rgb(212, 38, 38);
    color: white;
}
button:hover{
    transform: translateY(2px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    background-color: #a3d6c9;
    color: white;
}

ul{

    margin-top: 20px;
    font-size: 14px;
    padding-left: 14px;
}
li{
   margin-top: 5px;
}
li a{
    color: rgb(43, 165, 73);
}